.portfolio li
{
    display: inline-block;
    border: 0.4em solid black;
    width: 48%;
    background-color: aliceblue;
    margin-bottom: 0.4em;/*20px*/
    margin-right: 0.4em;/*20px*/
    padding: 0.3em;/*10px*/
    box-sizing: border-box;
}
.img-port
{
    border: 0px;
    box-shadow:0 0 4px #000;
}
figure img
{
    width: 100%;
}